<img src="/images/fleurmariage.jpg" style="width : 100%; height:300px" alt="mariage">
<nav class=" navbar navbar-toggleable-sm mb-5 bg-faded">
  <a class="navbar-brand m-0 mr-1" href="/">
    <img src="/images/logoaec.png">
  </a>
  <div class="navbar-nav nav-pills">
    <a class="nav-item nav-link  active " ui-sref="home">Home </a>


    <div class="dropdown">
        <a href="" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown"> Cellule </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" ui-sref="Ajout_Cellule">Ajouter Cellule</a>
          <a class="dropdown-item" ui-sref="Liste_Cellules">Liste Cellules</a>
          <a class="dropdown-item" ui-sref="Ajout_Participant">Ajouter Participant</a>
          <a class="dropdown-item" ui-sref="Liste_Participants">Liste Participants</a>
        </div>
    </div>

    <div class="dropdown">
        <a href="" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">Evangelisation </a>
        <div class="dropdown-menu">
          <a class="dropdown-item bg-success" ui-sref="Ajout_Evangelisation">Ajout Evangelisation</a>
          <a class="dropdown-item  bg-faded" ui-sref="Liste_Evangelisations">Liste Evangelisations</a>
          <a class="dropdown-item " ui-sref="Ajout_Evangelise">Ajouter Evangelise</a>
          <a class="dropdown-item " ui-sref="Liste_Evangelises">Liste Evangelises</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">Utilisateurs </a>
        <div class="dropdown-menu">
          <a class="dropdown-item bg-success" ui-sref="Ajout_Personnel">Ajout Utilisateur</a>
          <a class="dropdown-item  bg-faded" ui-sref="Liste_Personnel">Liste Utilisateurs</a>
        </div>
    </div>

</div>
</nav>
