<div class="container-fluid">
		
  </div>
		<h1  style="background-color:lightblue" class="text-center mb-5"> Enregistrer un evangelisé </h1>

<div class="container mb-5 bg-faded">

<form>

<fieldset class="form-group">
	<legend class="text-center mb-3">Données du prospect</legend>

			<div class="form-group row">
				<label for="date" class="form-control-label col-2 text-right my-auto">Date</label>
				<input class="form-control col-8" type="date" ng-model = "evangelise.date" placeholder="Date de l'évangélisation">
			</div>
			<div class="form-group row">
				<label class="form-control-label col-2 text-right my-auto" for="lieu">Lieu</label>
				<input class="form-control col-8" type="text" ng-model = "evangelise.lieu" placeholder="Entrer le lieu de l'évangélisation">
			</div>
			<div class="form-group row">
				<label class="form-control-label col-2 text-right my-auto" for="evangelistes">Nom et prénoms</label>
				<input class="form-control col-8" type="text" ng-model = "evangelise.nom" placeholder="Entrer les nom et prénoms du prospect">{{evangelise.nom}}
			</div>

			<div class="form-group row">
				<label class="form-control-label col-2 text-right my-auto" for="prospectus">Réseau</label>
				<input class="form-control col-8" type="text" ng-model = "evangelise.contact.reseau" placeholder=" Moov, MTN ou Orange">
			</div>
			<div class="form-group row">
				<label class="form-control-label col-2 text-right my-auto" for="contacts">Numéro de Téléphone</label>
				<input class="form-control col-8" type="text" ng-model = "evangelise.contact.numero" placeholder="Entrer numéro du prospect">
			</div>

			<div class="form-group row">
				<div class="offset-2">
					<button class="btn btn-primary" ng-click = "evangelise.enregistreEvangelise()">Enregistrer</button>
				</div>
			</div>

</fieldset>

</form>
</div>
