<h1  style="background-color:#b9b276" class="text-center mb-5">Liste des evangelises </h1>


<div class="container mb-5">

<table st-table="evangelise.listeEvangelises"  class="table table-striped table-bordered table-responsive" style="font-size: 12px">
<thead>
    <tr>
      <th colspan="8">
        <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
      </th>
    </tr>
    <tr style="background-color: #669c89">
      <th>Numéro</th>
      <th>Nom et Prénoms</th>
      <th>Réseau tel</th>
      <th>Numéro tel</th>
      <th>Date Evangélisation</th>
      <th>Lieu Evangélisation</th>
      <th colspan="2" class="text-center">Actions</th>
    </tr>    
</thead>
<tbody>
  <tr ng-repeat="item in evangelise.listeEvangelises">
    <td>{{$index+1}}</td> 
    <td ng-if="evangelise.edite[$index]==false">{{item.nom}}</td>
    <td ng-if="evangelise.edite[$index]==true"><input type="text" ng-model="item.nom"></td>
    <td ng-if="evangelise.edite[$index]==false">{{item.contact.reseau}}</td>
    <td ng-if="evangelise.edite[$index]==true"><input type="text" ng-model="item.contact.reseau"></td>
    <td ng-if='evangelise.edite[$index]==false'>{{item.contact.numero}}</td>
    <td ng-if="evangelise.edite[$index]==true"><input type="text" ng-model="item.contact.numero"></td>
    
    <td ng-if='evangelise.edite[$index]==false'>{{item.dateEvangelisation}}</td>
    <td ng-if="evangelise.edite[$index]==true"><input type="date" ng-model="item.dateEvangelisation"></td>

    <td ng-if='evangelise.edite[$index]==false'>{{item.lieuEvangelisation}}</td>
    <td ng-if="evangelise.edite[$index]==true"><input type="text" ng-model="item.lieuEvangelisation"></td>

    <td ng-if='evangelise.edite[$index]==false'><button class="btn btn-danger" ng-click="evangelise.supprimeEvangelise($index)">supprimer</button></td>
    
    <td ng-if="evangelise.edite[$index]==false"><button ng-click="evangelise.editeEvangelise($index)" class="btn btn-primary">
        Editer
      </button>
    </td>

    <td ng-if="evangelise.edite[$index]==true">
      <button ng-click="evangelise.modifieEvangelise($index)" class="btn btn-success">Modifier</button>
    </td>
    
    <td ng-if="evangelise.edite[$index]==true">
      <button class="btn btn-default" ng-click="evangelise.neModifiePasEvangelise($index)">Retour</button>
    </td>

  </tr>
</tbody>
<!-- <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage"></div>
      </td>
    </tr>
</tfoot> -->

</table>

</div>

<div ng-if="evangelise.aDetailler == true">
  <button class="btn btn-primary" ng-click="evangelise.retourListeEvangelises()">Retour à la liste</button>
</div>
 