<h1  style="background-color:#b9b276" class="text-center mb-5" ng-if="participant.aDetailler == false">Liste des Participants </h1>
<h1  style="background-color:pink" class="text-center mb-5" ng-if="participant.aDetailler == true">Détail du participant {{participant.detailParticipant.nom}}</h1>

<div class="container mb-5" ng-if="participant.aDetailler == false">

<table st-table="participant.listeParticipants"  class="table table-striped table-bordered table-responsive" style="font-size: 12px">
<thead>
    <tr>
      <th colspan="13">
        <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
      </th>
    </tr>
    <tr style="background-color: #669c89">
      <th>Numéro</th>
      <th>Nom et Prénoms</th>
      <th>Statut matrimonial</th>
      <th>Communauté religieuse</th>
      <th>Sexe</th>
      <th>Contact</th>
      <th>Lieu de Formation</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>    
</thead>
<tbody>
  <tr ng-repeat="item in participant.listeParticipants">
    <td>{{$index+1}}</td> 
    <td ng-if="participant.edite[$index]==false">{{item.nom}}</td>
    <td ng-if="participant.edite[$index]==true"><input type="text" ng-model="item.nom"></td>
    <td ng-if="participant.edite[$index]==false">{{item.statutMatrimonial}}</td>
    <td ng-if="participant.edite[$index]==true"><input type="text" ng-model="item.statutMatrimonial"></td>
    <td ng-if='participant.edite[$index]==false'>{{item.religion}}</td>
    <td ng-if="participant.edite[$index]==true"><input type="text" ng-model="item.religion"></td>
    
    <td ng-if='participant.edite[$index]==false'>{{item.sexe}}</td>
    <td ng-if="participant.edite[$index]==true"><input type="text" ng-model="item.sexe"></td>
    
    <td ng-if='participant.edite[$index]==false'>{{item.contact.numero.numero1}}</td>
    <td ng-if="participant.edite[$index]==true"><input type="text" ng-model="item.contact.numero.numero1"></td>

    <td ng-if='participant.edite[$index]==false'>{{item.lieuFormation}}</td>
    <td ng-if="participant.edite[$index]==true"><input type="text" ng-model="item.lieuFormation"></td>

    <td ng-if='participant.edite[$index]==false'><button class="btn btn-danger" ng-click="participant.supprimeParticipant($index)">supprimer</button></td>
    
    <td ng-if='participant.edite[$index]==false'><button class="btn btn-info" ng-click="participant.detailleParticipant($index)">Détails</button></td>
    
    <td><button ng-if="participant.edite[$index]==false" ng-click="participant.editeParticipant($index)" class="btn btn-primary">
        Editer
      </button>
    </td>

    <td ng-if="participant.edite[$index]==true">
      <button ng-click="participant.modifieParticipant($index)" class="btn btn-success">Modifier</button>
    </td>
    
    <td ng-if="participant.edite[$index]==true">
      <button ng-click="participant.neModifiePasParticipant($index)">Retour</button>
    </td>

  </tr>
</tbody>
<!-- <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage"></div>
      </td>
    </tr>
</tfoot> -->

</table>

</div>

<div ng-if="participant.aDetailler == true">
  <button class="btn btn-primary" ng-click="participant.retourListeParticipants()">Retour à la liste</button>
</div>
 