<h1  style="background-color:pink" class="text-center mb-5" ng-if="evangelisation.aDetailler == false">Liste des Evangelisations </h1>


<div class="container mb-5">

<table st-table="evangelisation.listeEvangelisations"   class="table table-striped table-bordered table-responsive" style="font-size: 12px">
<thead>
    <tr>
      <th colspan="13">
        <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
      </th>
    </tr>
    <tr style="background-color: pink">
      <th>Numéro</th>
      <th>Date</th>
      <th>Lieu</th>
      <th>Nombre Prospectus</th>
      <th>Nombre Contacts</th>
      <th>Evangelistes</th>
      <th colspan="2" class="text-center">Actions</th>
    </tr>    
</thead>
<tbody>
  <tr ng-repeat="item in evangelisation.listeEvangelisations">
    <td>{{$index+1}}</td> 
    <td ng-if="evangelisation.edite[$index]==false">{{item.dateEvangelisation}}</td>
    <td ng-if="evangelisation.edite[$index]==true"><input type="date" ng-model="item.dateEvangelisation"></td>
    <td ng-if="evangelisation.edite[$index]==false">{{item.lieuEvangelisation}}</td>
    <td ng-if="evangelisation.edite[$index]==true"><input type="text" ng-model="item.lieuEvangelisation"></td>
    <td class="bg-info" ng-if='evangelisation.edite[$index]==false'>{{item.prospectusDistribues}}</td>
    <td ng-if="evangelisation.edite[$index]==true"><input type="text" ng-model="item.prospectusDistribues"></td>
    
    <td class="bg-warning" ng-if='evangelisation.edite[$index]==false'>{{item.nombreContacts}}</td>
    <td ng-if="evangelisation.edite[$index]==true"><input type="text" ng-model="item.nombreContacts"></td>

    <td class="bg-info" ng-if='evangelisation.edite[$index]==false'>{{item.evangelistes}}</td>
    <td ng-if="evangelisation.edite[$index]==true"><input type="text" ng-model="item.evangelistes"></td>

    <td ng-if='evangelisation.edite[$index]==false'><button class="btn btn-danger" ng-click="evangelisation.supprimeEvangelisation($index)">supprimer</button></td>
    
    <td ng-if="evangelisation.edite[$index]==false"><button ng-click="evangelisation.editeEvangelisation($index)" class="btn btn-primary">
        Editer
      </button>
    </td>

    <td ng-if="evangelisation.edite[$index]==true">
      <button ng-click="evangelisation.modifieEvangelisation($index)" class="btn btn-success">Modifier</button>
    </td>
    
    <td ng-if="evangelisation.edite[$index]==true">
      <button class="btn" style="background-color: #c82d49" ng-click="evangelisation.neModifiePasEvangelisation($index)">Retour</button>
    </td>

  </tr>
</tbody>
<!-- <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage"></div>
      </td>
    </tr>
</tfoot> -->

</table>

</div>

