<div class="container">
<h2 class="text-center">Veuillez vous connecter svp </h2>
<form>
	<div class="form-group">

		<input class=" form-control" type="text" name="id" ng-model="login.donneesDeLogin.login" placeholder="login"><br>
		<input class=" form-control" type="password" name="mot_de_passe" ng-model="login.donneesDeLogin.mot_de_passe" placeholder="Mot De Passe" ><br>
		<button ng-click = 'login.doLogin()' class="btn btn-primary">{{login.surnom}} Envoi

    </button>	
	</div>	
</form>
</div>